# Pollution and Congestion

In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

c:\WBG\Anaconda3\envs\data-goods\Lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [5]:
baghdad = gpd.read_file('../../data/boundaries/irq_admbnda_adm1_cso_20190603.shp')
baghdad = baghdad[baghdad['ADM1_EN']=='Baghdad']

In [ ]:
jams = pd.read_csv('../../data/waze/tci_on_h3_may2024.csv')

In [6]:
import glob
# Use glob to find all CSV files in the directory
file_paths = glob.glob("../../data/air_pollution/daily/202405*.csv")
# Read all CSV files into a list of DataFrames
dataframes = [pd.read_csv(file) for file in file_paths]
# Optionally, combine all DataFrames into one
airpollution = pd.concat(dataframes, ignore_index=True)

In [9]:
import json
airpollution['date'] = pd.to_datetime(airpollution['date'])

airpollution.drop(columns = 'system:index', inplace=True)
airpollution['aoi'] = 'Baghdad'
airpollution.rename(columns = {'date':'event_date'}, inplace=True)
airpollution["coordinates"] = airpollution[".geo"].apply(lambda x: json.loads(x)["coordinates"])

In [12]:
airpollution.drop(columns='.geo', inplace=True)

In [14]:
airpollution["longitude"] = airpollution["coordinates"].apply(lambda x: x[0])
airpollution["latitude"] = airpollution["coordinates"].apply(lambda x: x[1])

In [15]:
from acled_conflict_analysis import analysis

airpollution = analysis.convert_to_gdf(airpollution)

In [25]:
from shapely import wkt
jams['geoWKT'] = jams['geoWKT'].apply(wkt.loads)

In [26]:
jams = gpd.GeoDataFrame(jams, geometry='geoWKT')

In [ ]:
airpollution['weekday_group'] =

In [ ]:
airpollution[['NO2_column_number_density', 'event_date', 'aoi', 'longitude', 'latitude']]

,NO2_column_number_density,event_date,aoi,coordinates,longitude,latitude,geometry
0,0.000075,2024-05-01,Baghdad,"[44.56092966874886, 32.81994890530672]",44.560930,32.819949,POINT (44.56093 32.81995)
1,0.000075,2024-05-01,Baghdad,"[44.56991282159006, 32.81994890530672]",44.569913,32.819949,POINT (44.56991 32.81995)
2,0.000075,2024-05-01,Baghdad,"[44.578895974431255, 32.81994890530672]",44.578896,32.819949,POINT (44.57890 32.81995)
3,0.000075,2024-05-01,Baghdad,"[44.58787912727245, 32.81994890530672]",44.587879,32.819949,POINT (44.58788 32.81995)
4,0.000078,2024-05-01,Baghdad,"[44.54296336306648, 32.82893205814791]",44.542963,32.828932,POINT (44.54296 32.82893)
...,...,...,...,...,...,...,...
178139,0.000100,2024-05-31,Baghdad,"[44.381266611924964, 33.73623049510863]",44.381267,33.736230,POINT (44.38127 33.73623)
178140,0.000100,2024-05-31,Baghdad,"[44.39024976476615, 33.73623049510863]",44.390250,33.736230,POINT (44.39025 33.73623)
178141,0.000089,2024-05-31,Baghdad,"[44.22855301362464, 33.745213647949825]",44.228553,33.745214,POINT (44.22855 33.74521)
178142,0.000085,2024-05-31,Baghdad,"[44.23753616646584, 33.745213647949825]",44.237536,33.745214,POINT (44.23754 33.74521)
178143,0.000085,2024-05-31,Baghdad,"[44.24651931930703, 33.745213647949825]",44.246519,33.745214,POINT (44.24652 33.74521)

In [ ]:
jams.sjoin(airpollution)

c:\WBG\Anaconda3\envs\data-goods\Lib\site-packages\geopandas\geodataframe.py:2061: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  return geopandas.sjoin(left_df=self, right_df=df, *args, **kwargs)

(93937, 12)

In [19]:
airpollution[airpollution['event_date']=='2024-05-01'].shape

(6126, 7)